p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1em;
    font-size: 1em;
    
}
body{
    font: normal 16px Arial,
    Verdana, serif;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}
footer p{
    text-align: center;
}
.a {
   text-align: right;
}